.navbar-default {
    background-color:#33c480;
    border-color: #33c480;
    color:black;
}
/* title */
.navbar-default .navbar-brand {
    color: #777;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: black;
}
/* link */
.navbar-default .navbar-nav > li > a {
    color: black;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: black;
    background-color:#58e880;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: black;
    background-color: #bcf2da;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    color: black;
    background-color: #58e880;
}
/* caret */
.navbar-default .navbar-nav > .dropdown > a .caret {
    border-top-color: black;
    border-bottom-color: black;

}
.navbar-default .navbar-nav > .dropdown > a:hover .caret,
.navbar-default .navbar-nav > .dropdown > a:focus .caret {
    border-top-color: #33c480;
    border-bottom-color: #33c480;
    color:black;

}
.navbar-default .navbar-nav > .open > a .caret,
.navbar-default .navbar-nav > .open > a:hover .caret,
.navbar-default .navbar-nav > .open > a:focus .caret {
    border-top-color: #555;
    border-bottom-color: #555;
    color:black;
}

#caret{

    margin-top:16px;
    margin-left:5px;

}#user-icon  {
    margin-top:20px;
}
/* mobile version */
.navbar-default .navbar-toggle {
    border-color: #33c480;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: white ;
    color: black;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #33c480;
    color:black;
}
@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: ##33c480;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #d4fcea;
    }
}
